.cards {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  width: "18rem"
}

.cards:hover {
  cursor: pointer;
  transform: scale(1.05)
}

.form {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.btn:focus {
  outline: none !important;
  outline-offset: none !important;
}